@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Shared Styles */
.primary-font {
    font-family: "Merriweather", serif;
}

.secondary-font {
    font-family: "Inter", serif;
}

.text-white {
    color: #ffffff;
}

.text-black {
    color: #070211;
}

.text-red {
    color: #FF0000;
}

.text-gray {
    color: #ffffffcc;

}

.text-center {
    text-align: center;
}

.section-margin {
    margin: 0 120px;
}

.m-top {
    margin-top: 120px;
}



/* Hero/Banner Section style */
#hero-banner {
    height: 600px;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17),
            rgba(7, 2, 17, 0) 100%),
        url('../assets/images/Banner\ Image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
    border-radius: 16px;
}

.banner-content {
    width: 630px;
    margin: 0 auto;
    padding: 170px 0;
}

.banner-greeting {
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 16px;
}

.banner-title {
    font-size: 65px;
    font-weight: 900;
    line-height: 95px;
}

/* Discount Section */
#discount-section {
    margin: 120px 380px 0 380px;
}

.discount-content {
    max-width: 780px;
}

.discount {
    font-size: 80px;
    font-weight: 700;
    line-height: 107px;
    margin-bottom: 40px;
}

.discount-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 16px;
}

.discount-categories {
    font-size: 40px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 48px;
}

/* Party Section Styles */

#party-section {
    height: 600px;
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%),
        url('../assets/images/Vectorrr.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    display: flex;
    gap: 35px;
}

.party-content {
    max-width: 690px;
    padding: 130px 0px 140px 130px;
}

.party-title {
    font-size: 56px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    text-align: left;
    margin-bottom: 20px;
}

.party-info {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 40px;
}

.party-link {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    padding-left: 30px;
}

.party-year {
    padding: 70px 0px;
}

/* Party Place Section Styles */

#party-place {
    height: 480px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
}

.party-place-content {
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0%;
    text-transform: capitalize;
    max-width: 550px;
    margin: 0 auto;
    padding: 100px 0;
}

.party-button {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    border: none;
    background-color: #FF0000;
    padding: 16px 28px 16px 28px;
    border-radius: 8px;
    margin-top: 36px;
}

.party-button a {
    text-decoration: none;
}

/* Offer Section Styles */

#offer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer-box {
    max-width: 350px;
}

.offer-title {
    font-size: 17px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    margin-bottom: 12px;
}

.offer-subtitle {
    font-size: 38px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 18px;
}

.offer-info {
    color: rgba(7, 2, 17, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.offer-section-friends {
    border: 15px solid #ff0000;
    border-radius: 50%;
}

.offer-section-friends img {
    padding: 25px;
    max-width: 340px;
}

.year-box {
    max-width: 230px;
    padding-top: 85px;
}

.offer-section-year {
    font-size: 38px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 12px;
}

.year-info {
    color: rgba(7, 2, 17, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 35px;
}

.year-box img {
    max-width: 120px;
}

/* Sale Section Style */
.sale-content {
    max-width: 800px;
    margin: 0 auto;
}

.sale-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    margin-bottom: 12px;
}

.sale-discount {
    font-size: 62px;
    font-weight: 900;
    line-height: 80px;
    letter-spacing: 0%;
    margin-bottom: 22px;
}

.sale-info {
    color: rgba(7, 2, 17, 0.6);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}

.sale-banner {
    height: 660px;
    margin-top: 60px;
    background-image: url('../assets/images/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    display: flex;
    justify-content: space-around;
}

.gift-box {
    width: 620px;
}

.discount-box {
    padding-top: 100px;
}

/* Portfolio Section Styles */
.portfolio-content{
    width: 720px;
}
.portfolio-info {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 12px;
}

.portfolio-title {
    font-size: 42px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}

.portfolio-description {
    color: rgba(7, 2, 17, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.portfolio-gallary{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
}
.portfolio-gallary img{
    max-width: 400px;
}