@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

main {
    margin: 0 120px 120px 120px;
}

/* Shared Styles */
.primary-font {
    font-family: "Merriweather", serif;
}

.secondary-font {
    font-family: "Inter", serif;
}

.text-white {
    color: #ffffff;
}

.text-black {
    color: #070211;
}

.text-red {
    color: #FF0000;
}

.text-gray {
    color: #07021199;
}



/* Hero/Banner Section style */
#hero-banner {
    height: 600px;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17),
            rgba(7, 2, 17, 0) 100%),
        url('../assets/images/Banner\ Image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
    border-radius: 16px;
}
.banner-content{
    width: 630px;
    margin: 0 auto;
    text-align: center;
}
.banner-greeting {
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
}

.banner-title {
    font-size: 65px;
    font-weight: 900;
    line-height: 95px;
}